{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
        {% if series|length <= 0 %}
            <p>Aucune série trouvée</p>
        {% else %}
            <h2>Choisissez une série</h2>
            <ul>
            {% for serie in series %}
                <li><a href="{{ path('list', {'serie': serie}) }}">Série {{ serie|number_format }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
        </div>
    </div>
{% endblock body %}